

.swiper {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
}

.swiper-slide {
   background-position: center;
   background-size: cover;
   width: auto;
   height: 450px;
 }



@media (max-width: 768px) {
   .swiper-slide {
       width: 250px;
       height: auto;
  }
}